
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500&display=swap');

p{ 
  text-align: center;
  color: #DB7093;
  font-weight: thin;
  font-size: 1.5rem;
  font-family: 'Dosis';
 }

  td, th {
    width: 30%;
    text-align: center;
    color: #6c8f89;
    font-size: medium;
    font-family: 'Dosis', sans-serif;
  }
   img{
    box-shadow: 2px 3px 3px #426e67ce;
   }

   